div {
    border: 1px solid aqua;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr 1fr;
}

/* sidebar part*/
.sidebar {
    font-weight: bold;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    align-items: start;
}

svg {
    width: 40px;
}

/* header part */
.header {
    grid-column: 2 / 5;
    display: grid;
    grid-template-rows: 1fr 2r;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.search-bar {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 1fr);
}

.search-bar img {
    width: 50%;
}

.user-info {
    font-weight: bold;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user-info .avatar {
    grid-row: 1/3;
    text-align: center;
}

.user-info img {
    width: 75%;
}


/* main content part */
.main-content {
    grid-column: 2 / 5;
    display: contents;
}

.projects {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
}

.title {
    font-weight: bold;
}

.card-svg {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.card svg {
    width: 20px;
}


.announcements {
    grid-column: 4 / 5;
}

.announcement p {
    font-style: italic;
}

.trending {
    grid-column: 4 / 5;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.trending img {
    width: 25%;
}

.trending p {
    margin: 0;
}